@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
  Layout = "Master.cshtml";
}
<div class="page-header">
  <h1>About</h1>
</div>
<div class="row">
  <div class="span6">
    <p>
      WakeyWakey is a small web application that lets you send wake-on-lan and ping signals
      to remote computers. The main purpose is to provide an easy way to wake up computers
      on a local network.</p>
    <p>
      WakeyWakey was developed by Pontus Munck. The code is available at <a href="https://github.com/pontusm/WakeyWakey">
        Github</a> if you want to fork and improve it!</p>
  </div>
</div>
