@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Wakey wakey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Wake those machines up!">
  <meta name="author" content="Pontus Munck">
  <link href="/content/css/bootstrap.css" rel="stylesheet">
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link href="/content/css/bootstrap-responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  @RenderSection("Head", false)
</head>
<body>
  <header>
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Wakey Wakey</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    @RenderBody()
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  @*<script type="text/javascript">
    window.jQuery || document.write('<script type="text/javascript" src="/content/js/jquery-1.7.2.min.js"><\/script>')
  </script>*@
  <script src="/content/js/bootstrap.min.js"></script>
  <script src="/content/js/site.js"></script>
  @RenderSection("Scripts", false)
</body>
</html>
